<div class="container">
    <div class="row">
        <div class="col-10" style="text-align: center">
            <h1>
                Welcome to {{ title }}!
            </h1>
        </div>
        <div class="col-2" style="text-align:center">
            <img class="img-fluid" width=" 300 " alt="Angular Logo " src="../assets/logo_angular.svg ">
        </div>
    </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center ">


</div>


<router-outlet></router-outlet>